# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# ====================== Ambiente ======================
# Usado em desenvolvimento normal
# NODE_ENV=development

# Usado pelos testes Cypress (para limpar dados e instâncias Prisma)
NODE_ENV=test

# ====================== Aplicação Principal ======================
PORT=5000

# Database da aplicação
DATABASE_URL="postgresql://baths_user:baths_password@127.0.0.1:5432/baths_app?schema=public"

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=baths_app
DB_USER=baths_user
DB_PASSWORD=baths_password

# ====================== Camunda 7 ======================
CAMUNDA_URL=http://localhost:8080/engine-rest

# Database do Camunda
DB_CAMUNDA_URL="postgresql://camunda:camunda@127.0.0.1:5432/camunda"
DB_CAMUNDA_HOST=127.0.0.1
DB_CAMUNDA_PORT=5432
DB_CAMUNDA_NAME=camunda
DB_CAMUNDA_USER=camunda
DB_CAMUNDA_PASSWORD=camunda

# ====================== Mail (Mailtrap) ======================
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=b9da300b92d22e
MAIL_PASS=dd521c1cebae4a
MAIL_FROM=noreply@bet.pt

# ====================== Configurações Gerais ======================
DB_WAIT_MAX_ATTEMPTS=60
DB_WAIT_DELAY_MS=1000

# Configurações Camunda External Tasks
CAMUNDA_LOCK_DURATION=30000
CAMUNDA_MAX_TASKS=10
CAMUNDA_INTERVAL=300
